.conteneur{
  text-align-last: center;
}

.conteneur-button{
  display: flex;
  justify-content: space-around;
  padding-top: 44px;
}

.requete{
  width: 70px;
  height: 70px;
  background-color: orange;
  border-radius: 13px;
}

::placeholder {
  color: black;
  opacity: 1;
}
